

  /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #F4F4F8;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #44d62c;
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    
  }

  body, html {
    height: 88%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("https://assets3.razerzone.com/OBwrSq6F8f-4kBdyFOTktDohrf8=/1500x1000/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fhc7%2Fh73%2F9122164572190%2FTomahawk-Gaming-Desktop-1500x1000-20201204-01.jpg");
  
    /* Add the blur effect */
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 0.7em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  main{
    background-color: #FEFFFE;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 #selection{
   background-color: #E6E6E6;
   max-width: 1200px;
   display:flex;
   border-radius: 2em;
   margin-top: 1em;
   
    
 }

 #selection img{
   width: 250px;
   padding: 1em;
 }

 #selection section{
   padding: 4em;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   /*margin-bottom: 4em;
   margin-top: 1em;*/

   
 }

 #selection h3{
   margin-bottom: 0;
 }

 #selection button{
   padding: 1em;
   border-radius: 1em;
 }

 

 #Variant1{
  background-color: #E6E6E6;
  max-width: 1200px;
  display:flex;
  border-radius: 2em;
  margin-top: 1em;
  
   
}

#Variant1 img{
  width: 250px;
  padding: 1em;
}

#Variant1 section{
  padding: 4em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /*margin-bottom: 4em;
  margin-top: 1em;*/

  
}

#Variant1 h3{
  margin-bottom: 0;
}

table th{
  text-align: left;
}

#Variant2{
  background-color: #E6E6E6;
  max-width: 1200px;
  display:flex;
  border-radius: 2em;
  margin-top: 1em;
  
   
}

#Variant2 img{
  width: 250px;
  padding: 1em;
}

#Variant2 section{
  padding: 4em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /*margin-bottom: 4em;
  margin-top: 1em;*/

  
}

#Variant2 h3{
  margin-bottom: 0;
}

#Variant3{
  background-color: #E6E6E6;
  max-width: 1200px;
  display:flex;
  border-radius: 2em;
  margin-top: 1em;
  
   
}

#Variant3 img{
  width: 250px;
  padding: 1em;
}

#Variant3 section{
  padding: 4em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /*margin-bottom: 4em;
  margin-top: 1em;*/

  
}

#Variant3 h3{
  margin-bottom: 0;
}

.sidecar{
  width: 170px;
  position: flex;
  z-index: 1;
  top: 80px;
  left: 20px;
  background-color: #1E1E24;
  overflow-x: hidden;
  padding-top: 10px;
  border-radius: 7px;
}

.sidecar a{
  padding: 20px 20px 20px 36px;
  text-decoration: none;
  font-size: 25px;
  color: #048A81;
  display: block;
}

.sidecar a:hover{
  color: #06D6A0;
}
/*MotherBoards*/
partsMain{
  background-color: #FEFFFE;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#Motherboards{
 background-color: #E6E6E6;
 max-width: 1200px;
 display:flex;
 margin-top: 1em;
 flex-wrap: wrap;
  
}

#Motherboards img{
 width: 250px;
 padding: 1em;
}

#Motherboards section{
 padding: 4em;
 align-items: center;
 justify-content: center;
 display: flex;
 flex-direction: column;

 /*margin-bottom: 4em;
 margin-top: 1em;*/

 
}

#Motherboards h3{
 margin-bottom: 0;
}

#Motherboards button{
 padding: 1em;
 border-radius: 1em;
}
/*motherboards*/
/*CPU*/
#CPU{
  background-color: #E6E6E6;
  max-width: 1200px;
  display:flex;
  margin-top: 1em;
  flex-wrap: wrap;
   
 }
 
 #CPU img{
  width: 250px;
  padding: 1em;
 }
 
 #CPU section{
  padding: 4em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
 
  /*margin-bottom: 4em;
  margin-top: 1em;*/
 
  
 }
 
 #CPU h3{
  margin-bottom: 0;
 }
 
 #CPU button{
  padding: 1em;
  border-radius: 1em;
 }
/*cpu*/
/*GPU*/
#GPU{
  background-color: #E6E6E6;
  max-width: 1200px;
  display:flex;
  margin-top: 1em;
  flex-wrap: wrap;
   
 }
 
 #GPU img{
  width: 250px;
  padding: 1em;
 }
 
 #GPU section{
  padding: 4em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
 
  /*margin-bottom: 4em;
  margin-top: 1em;*/
 
  
 }
 
 #GPU h3{
  margin-bottom: 0;
 }
 
 #GPU button{
  padding: 1em;
  border-radius: 1em;
 }
/*GPU*/
/*ssd*/
#SSD{
  background-color: #E6E6E6;
  max-width: 1200px;
  display:flex;
  margin-top: 1em;
  flex-wrap: wrap;
   
 }
 
 #SSD img{
  width: 250px;
  padding: 1em;
 }
 
 #SSD section{
  padding: 4em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
 
  /*margin-bottom: 4em;
  margin-top: 1em;*/
 
  
 }
 
 #SSD h3{
  margin-bottom: 0;
 }
 
 #SSD button{
  padding: 1em;
  border-radius: 1em;
 }
/*ssd*/

/*supply*/ 
#power{
  background-color: #E6E6E6;
  max-width: 1200px;
  display:flex;
  margin-top: 1em;
  flex-wrap: wrap;
   
 }
 
 #power img{
  width: 250px;
  padding: 1em;
 }
 
 #power section{
  padding: 4em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
 
  /*margin-bottom: 4em;
  margin-top: 1em;*/
 
  
 }
 
 #power h3{
  margin-bottom: 0;
 }
 
 #power button{
  padding: 1em;
  border-radius: 1em;
 }

/*supply*/
.row {
  display: flex;
  flex-wrap: wrap;
}

.sidecar {
  flex: 30%;
  padding: 20px;
}

.main{
  flex: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

disMain{
  background-color: #FEFFFE;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#displays{
 background-color: #E6E6E6;
 max-width: 1200px;
 display:flex;
 margin-top: 1em;
 flex-wrap: wrap;
  
}

#displays img{
 width: 250px;
 padding: 1em;
}

#displays section{
 padding: 4em;
 align-items: center;
 justify-content: center;
 display: flex;
 flex-direction: column;

 /*margin-bottom: 4em;
 margin-top: 1em;*/

 
}

#displays h3{
 margin-bottom: 0;
}

#displays button{
 padding: 1em;
 border-radius: 1em;
}





  